{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Africa Story</title>
    <script src="{% static 'js/download.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>
  {% include 'core/messages.html' %}
   <!---the content div will contain three rows
      the first row will have the background become a carecel
     of the front the back and a picture of the africa story logo

      the second row will have the bio and the photo in the back
      of the book. and next to that will be a link to order the phyiscal copy
      via a button to book baby

      the third and final row will be a contact screen section--->
    <div class="content">
      <div class="block1">
        <div class="image">
          <img class="cover" src="{% static 'photos/Front.png'%}" alt="front_cover"> 
        </div>
        <!----a dive for the image and one for the text-->
         <div class="flavor_text">
          <p>This isn't just based on a true story. It is a true story.</p>
    {% if payment_complete %}
  <button onclick="downloadEbook()">Download eBook</button>
    {% endif %}
          <button class="preview_btn" onclick="downloadPreview()">READ PREVIEW</a></button>

         <button> <a href="https://store.bookbaby.com/book/the-africa-story" target="_blank" >BUY NOW</a></button>

         </div>

      </div>


    <div class="bio">
      <div class="img_div">
        <img class="author_pic" src="{% static 'photos/Troy.jpg'%}" alt="co-author">
        <img class="author_pic" src="{% static 'photos/Tyler.jpg'%}" alt="designer">
        <img class="author_pic" src="{% static 'photos/the_author.jpg'%}" alt="author"> 
      </div>
      <div class="fade" id="fade">
        <!---this will have a fade animation when it appears on screen managed by javascript-->
        <h3>My Story</h3>
        <div class="text_con">
          <p class="text">How would you smuggle diamonds out of Africa? I can tell you how I did. This isn't just based on a true story - it is a true story, and like everything I write, it can serve as a map for those blazing their own trails to fame, fortune and perhaps disaster . Either write a book, or do something worth writing about I've now endeavored to do both - was it all worth it? You'll have to decide.</p>
          <p class="text">A marvelously fast paced and action packed account delivered first hand by the professional musician and smuggler who braved the jungles of Africa for precious stones and out smarted governments, criminal syndicates, and the diamond districts in the cat and mouse world of illicit diamond smuggling. A first hand look at the real world of blood diamonds, journey from the sun soaked streets of Miami into the thickly canopied jungles of Sierra Leone. Learn the perils of establishing alliances with tribal princes, high stakes deals with diamond cartels, an episode of forbidden love, and the intricacies of how one might smuggle large sums of cash across borders and live to tell the tale. You'll find no disclaimer of protected persons, changed identities, or muddied series of events to protect the innocent -everyone here is guilty, and its all true.</p>
        </div>
      </div>
    </div>

    <div class="ebook_download">
      <h2>Buy The E-Book (Save over 35% and read instantly!)</h2>
      <div class="links">

 <script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<stripe-buy-button
  buy-button-id="buy_btn_1OqiqbDDOxcvEJL1syxulXcW"
  publishable-key="pk_test_51OqgatDDOxcvEJL1SMlPBBeEgQ5eLRia0FjcyN9Q0zKcUlYCpQ7NLKabCXqFl9rWtmQMBGEVKvZBhAxdRJYnh7Oc00liA9uG4H"
>
</stripe-buy-button>

<script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<stripe-buy-button
  buy-button-id="buy_btn_1OrY5BDDOxcvEJL1rBByt4rr"
  publishable-key="pk_test_51OqgatDDOxcvEJL1SMlPBBeEgQ5eLRia0FjcyN9Q0zKcUlYCpQ7NLKabCXqFl9rWtmQMBGEVKvZBhAxdRJYnh7Oc00liA9uG4H"
>
</stripe-buy-button> 

<script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<stripe-buy-button
  buy-button-id="buy_btn_1OrYwlDDOxcvEJL1hHHJGIBM"
  publishable-key="pk_test_51OqgatDDOxcvEJL1SMlPBBeEgQ5eLRia0FjcyN9Q0zKcUlYCpQ7NLKabCXqFl9rWtmQMBGEVKvZBhAxdRJYnh7Oc00liA9uG4H"
>
</stripe-buy-button>



       
      </div>
      
    </div>

    <div class="contact">
      <div class="container">
        <h4>Contact us for media appearences, product endorsements or book signings:</h4>
      <div class="contact_info_div">
        <div class="phone">
          <p>Tel: 123-456-7890</p>
          <p>email:ReadTheAfricaStory@gmail.com</p>
        </div>

        <div class="address">
          <p>1234 Tall trees ST</p>
          <p>Tampa Florida 33874</p>
        </div>
      </div>

      <div class="email_div">
        <div class="inputs">
          <input type="text" placeholder="Email">
          <input type="text" placeholder="Your Name">
          <textarea placeholder="type your email here."></textarea>
        </div>
        
        <button class="submit_btn">Submit</button>

        <div class="micro-footer">
          <a class="link" href="">FAQ</a>
          <a class="link" href="">Downloads & Refunds</a>
          
          <a class="link" href="">Payment Methods</a>
        </div>
      </div>
      </div>
    </div>


    
    <div class="carousel">
          <div class="carousel__item carousel__item--selected">
            <div class="review">
              <p>An exciting, fast, paced adventure!</p>
              <p class="review__by">Verified buyer</p>
            </div>
          </div>
          <div class="carousel__item">
            <div class="review">
              <p> A fantastic choice for adventure loving teenagers! </p>
              <p class="review__by">Verified buyer</p>
            </div>
          </div>
          <div class="carousel__item">
            <div class="review">
              <p>A gem of a read!</p>
              <p class="review__by">Verified buyer</p>
            </div>
          </div>

    </div>
       
    </div>

    </div>

    <!-- Footer code --> 
    <div id="popupContainer" class="popup-container" style="display: none;">
    <div class="popup-content">
        <span class="close-btn" onclick="closePopup()">&times;</span>
        <div id="popupBody"></div>
    </div>
</div>

    

  <!---custom JS link below-->
  <script src="{% static 'js/index.js' %}"></script>  

</body>
</html>